* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Karla", sans-serif;
}
main {
  border-radius: 5px;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
h2,
h3 {
  color: black;
  font-weight: 400;
  font-size: 23px;
  text-align: center;
}
h3 {
  font-size: 18px;
}
h4 {
  font-weight: 300;
}
button {
  margin: 10px;
  width: 20%;
  height: 45px;
  font-size: 18px;
  font-weight: 600;
  background: white;
  color: grey;
  border: 1px solid grey;
  border-radius: 5px;
  transition: 0.3s ease all;
}
button:hover {
  background: grey;
  color: white;
  transition: 0.3s ease all;
  cursor: pointer;
}
input,
textarea {
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
  color: grey;
  border: 1px solid grey;
  text-align: center;
}
img {
  width: 100%;
  border-radius: 5px;
}
/********************************* Mobile First Styles ******************************************/
/* Mobile - Styles for Hero Component */
.hero-container {
  width: 100%;
}
.hero-container img {
  border-radius: 0;
}
.hero-title-text {
  position: absolute;
  top: 1%;
  left: 33%;
  transform: translate(-50%, 50%);
  color: white;
  font-size: 25px;
  font-weight: 600;
}
.hero-sub-title-text {
  position: absolute;
  top: 6%;
  left: 25%;
  transform: translate(-50%, 50%);
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.hero-video {
  margin: auto;
  display: block;
  width: 98%;
  height: 250px;
  border-radius: 5px;
}
/* Mobile - Styles for Search Bar Component */
.search-bar {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar-text {
  width: 90%;
  height: 45px;
}
/* Mobile - Styles for Blogs Component */
.blogs-container {
  width: 100%;
  text-align: center;
}
.blog-title,
.blog-sub-title {
  margin: 12px;
}
.blog-posts {
  width: 100%;
}
.blog {
  width: 100%;
}
.blog-image {
  width: 90%;
  border-radius: 5px;
  transition: 0.5s ease all;
}
.blog-image:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: 0.5s ease all;
}
.blog-link-text {
  padding-bottom: 30px;
}
.blog-link-text:hover {
  padding-bottom: 30px;
  cursor: pointer;
  text-decoration: underline;
}
.blog-btn {
  width: 35%;
}
/* Mobile - Styles for Listings Component */
.listings-container {
  margin: 35px;
  padding-bottom: 25px;
  width: 100%;
  background-color: lightgray;
  border-radius: 5px;
}
.listings-box {
  width: 95%;
  display: block;
  margin: auto;
}
/* Mobile - Styles for Form Component */
.form-title,
.form-sub-title {
  margin: 8px;
  padding-bottom: 8px;
}
.form-container {
  padding-bottom: 40px;
  width: 85%;
}
.form-name {
  margin: 10px;
  width: 45%;
  height: 50px;
}
.form-email {
  margin: 10px;
  width: 95%;
  height: 50px;
}
.form-comments {
  margin: 10px;
  width: 95%;
  height: 150px;
  font: inherit;
}
.form-checkbox {
  margin-left: 10px;
  font-size: 18px;
}
.fieldset-content {
  margin-left: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid grey;
}
.dropdown-content {
  margin: 10px;
  font-size: 18px;
  width: 55%;
  height: 35px;
}
.form-submit-btn {
  width: 30%;
  display: block;
  margin: auto;
}
/* Mobile - Styles for Info Component */
.info-container {
  width: 85%;
  display: block;
  margin: auto;
  padding-bottom: 40px;
  text-align: center;
}
.info-image {
  width: 65%;
  border-radius: 50%;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}
.info-text {
  text-align: center;
  padding: 15px;
  font-size: 17px;
  line-height: 28px;
}
.info-btn {
  width: 35%;
}
/* Mobile - Styles for About Component */
.about-container {
  width: 70%;
  text-align: center;
}
.about-btn {
  width: 50%;
}
/* Mobile - Styles for Call to Action Component */
.cta-container {
  width: 70%;
  text-align: center;
  padding-bottom: 30px;
}
.cta-btn {
  width: 55%;
}
/* Mobile - Styles for Testimonials Component */
.testimonial-sub-title {
  margin: 0;
}
.testimonial-slider {
  width: 70%;
}
.testimonial-card {
  max-width: 350px;
  padding: 30px;
  margin: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.testimonial-card:hover {
  cursor: pointer;
}
.testimonial-icon img {
  max-width: 10%;
}
.testimonial-image img {
  border-radius: 50%;
  max-width: 35%;
  margin: 15px auto;
}
.testimonial-text {
  min-height: 80px;
}
.testimonial-name {
  text-align: center;
}
/********************************* Tablet View Styles ******************************************/
@media only screen and (min-width: 600px) {
  /* Tablet - Styles for Hero Component */
  .hero-title-text {
    top: 1%;
    left: 30%;
    font-size: 35px;
  }
  .hero-sub-title-text {
    top: 9%;
    left: 22%;
    font-size: 25px;
  }
  .hero-video {
    width: 50%;
    position: absolute;
    top: 20%;
    left: 45%;
    border-radius: 5px;
  }
  /* Tablet - Styles for Search Bar Component same as mobile view */
  /* Tablet - Styles for Blogs Component */
  .blog-image {
    width: 70%;
  }
  /* Tablet - Styles for Listings Component */
  .listings-container {
    width: 70%;
  }
  .listings-box {
    width: 90%;
  }
  /* Tablet - Styles for Form Component */
  .form-name {
    width: 46%;
  }
  .form-comments {
    font-size: 20px !important;
  }
  .form-checkbox {
    font-size: 20px;
  }
  .fieldset-content {
    font-size: 20px;
    width: 95%;
  }
  .dropdown-content {
    font-size: 20px;
    width: 40%;
    height: 45px;
  }
  /* Tablet - Styles for Info Component */
  .info-container {
    width: 70%;
    display: block;
    margin: auto;
    padding-bottom: 40px;
    text-align: center;
  }
  .info-image {
    width: 45%;
  }
  /* Tablet - Styles for About Component same as mobile view */
  /* Tablet - Styles for Call to Action Component same as mobile view */
  /* Tablet - Styles for Testimonials Component */
  .testimonial-sub-title {
    margin: 0;
  }
  .testimonial-slider {
    width: 85%;
  }
  .testimonial-card {
    max-width: 290px;
  }
  .testimonial-text {
    min-height: 120px;
  }
}
/********************************* Desktop Styles ******************************************/
@media only screen and (min-width: 992px) {
  /* Desktop - Styles for Hero Component */
  .hero-title-text {
    top: 5%;
    left: 25%;
    font-size: 50px;
  }
  .hero-sub-title-text {
    top: 15%;
    left: 20%;
    font-size: 40px;
  }
  .hero-video {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 45%;
    left: 45%;
  }
  /* Desktop - Styles for Search Bar Component same as mobile view */
  /* Desktop - Styles for Blogs Component */
  .blog-title {
    margin: 20px;
    font-size: 45px;
  }
  .blog-sub-title {
    margin: 20px;
    font-size: 35px;
  }
  .blog-posts {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .blog-image {
    width: 95%;
    opacity: 0.3;
  }
  .blog-image:hover {
    opacity: 1;
  }
  .blog-link-text {
    margin: 0;
    padding: 0;
    position: relative;
    top: -55%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 33px;
    font-weight: 900;
  }
  .blog-link-text:hover {
    padding: 0;
    cursor: pointer;
    text-decoration: none;
  }
  .blog-btn {
    width: 20%;
  }
  /* Desktop - Styles for Listings Component */
  .listings-container {
    width: 90%;
  }
  .listings-container h2 {
    font-size: 45px;
  }
  .listings-container h3 {
    font-size: 35px;
  }
  /* Desktop - Styles for Form Component */
  .form-title {
    font-size: 45px;
  }
  .form-sub-title {
    font-size: 35px;
    padding-bottom: 30px;
  }
  .form-container {
    padding-bottom: 60px;
    width: 60%;
  }
  .form-name {
    width: 46%;
  }
  .form-email {
    width: 95%;
  }
  .form-comments {
    margin-right: 20px auto;
    width: 95%;
  }
  .form-checkbox {
    font-size: 20px;
  }
  .fieldset-content {
    font-size: 20px;
  }
  .dropdown-content {
    font-size: 20px;
    width: 30%;
    height: 45px;
  }
  .form-submit-btn {
    width: 25%;
  }
  /* Desktop - Styles for Info Component */
  .info-container {
    width: 95%;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
  }
  .info-image {
    width: 300px;
  }
  .info-text {
    width: 300px;
    min-height: 175px;
  }
  .info-btn {
    width: 60%;
  }
  /* Desktop - Styles for About Component */
  .about-container {
    width: 70%;
    display: flex;
    align-items: center;
    text-align: left;
  }
  .about-left-side {
    width: 60%;
  }
  .about-left-side > h2 {
    font-size: 35px;
    text-align: left;
  }
  .about-left-side > h4 {
    width: 600px;
    font-size: 20px;
    text-align: left;
  }
  .about-right-side {
    width: 30%;
    text-align: right;
  }
  .about-btn {
    width: 60%;
  }
  /* Desktop - Styles for Call to Action Component */
  .cta-container {
    width: 60%;
  }
  .cta-container h2 {
    font-size: 35px;
  }
  .cta-container h4 {
    font-size: 20px;
  }
  .cta-btn {
    width: 25%;
  }
  /* Desktop - Styles for Testimonials Component */
  .testimonial-title {
    font-size: 45px;
  }
  .testimonial-sub-title {
    font-size: 25px;
  }
  .testimonial-slider {
    width: 95%;
  }
  .testimonial-card {
    max-width: 350px;
  }
}
